.efect-nav {
    -webkit-transition: all 500ms ease-out;
    -moz-transition:all 500ms ease-out;
    transition: all 500ms ease-out;
  }
  .shadow{
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.34);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.34);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.34);
  }