<nav class="navbar navbar-expand-lg navbar-light fixed-top shadow" [ngClass]="{'s-dark': flag_scroll,'shadow': !flag_scroll}" id="mainNav">
  <div class="container-fluid">
    <a class="navbar-brand" href="#page-top">
      <img id="imgLogo" [ngClass]="{'logoSizeScroll': flag_scroll,'logoSize': !flag_scroll}" class="logoSize" src="../../assets/images/GO CAN-original-FONDO TRANSPARENTE.png" alt="mdb logo">
    </a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <!-- <span class="gocan-pawprints position-absolute" style="transform: rotate(63deg);font-size: 40px;/* margin-left: 71px; */top: 51px;"></span> -->
      <span class="gocan-pawprints position-absolute" style="transform: rotate(79deg);font-size: 29px;margin-left: 171px;top: 22px;"></span>
      <span class="gocan-pawprints position-absolute" style="transform: rotate(116deg);font-size: 24px;margin-left: 368px;top: 51px;"></span>
      <ul class="navbar-nav ml-auto bigFont">
        <li class="nav-item efect-nav">
          <a class="nav-link active textGeneral" id="mav_index_page">Inicio</a>
        </li>
        <li class="nav-item efect-nav">
          <a class="nav-link" id="mav_about">Servicios</a>
        </li>
        <li class="nav-item efect-nav">
          <a class="nav-link" id="mav_services">Nosotros</a>
        </li>
        <li class="nav-item efect-nav">  
          <a class="nav-link" id="mav_portfolio">Experiencia</a>
        </li>
        <li class="nav-item efect-nav">
          <a class="nav-link" id="mav_contact">Contactenos</a>
        </li>
        <li class="nav-item efect-nav">
          <span class="gocan-hot-air-balloon position-absolute" style="font-size: 100px; top: 45px;margin-left: 50px">
            <span class="path1"></span>
            <span class="path2"></span>
            <span class="path3"></span>
            <span class="path4"></span>
            <span class="path5"></span>
            <span class="path6"></span>
            <span class="path7"></span>
            <span class="path8"></span>
            <span class="path9"></span>
            <span class="path10"></span>
            <span class="path11"></span>
            <span class="path12"></span>
            <span class="path13"></span>
            <span class="path14"></span>
            <span class="path15"></span>
            <span class="path16"></span>
            <span class="path17"></span>
            <span class="path18"></span>
            <span class="path19"></span>
            <span class="path20"></span>
            <span class="path21"></span>
            <span class="path22"></span>
            <span class="path23"></span>
            <span class="path24"></span>
            <span class="path25"></span>
            <span class="path26"></span>
            <span class="path27"></span>
          </span>
          <a class="nav-link">Mi portal</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<header class="textGeneral" id="index_page">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="px-0 col-12">
        <div class="align-self-center">
          <video class="image" id="video" loop autoplay muted>
            <source src="../../assets/images/video4.mp4">
          </video>
          <div class="position-absolute w-100 h-100" style="top: 0px;left: 0;background: rgb(29, 33, 58);opacity: .7;"></div>
        </div>
      </div>
    </div>
    <div class="position-absolute h-100 w-100" style="top: 40px">
      <div class="row position-relative">
        <div class="col-4">
          <span class="gocan-pawprints position-absolute" style="transform: rotate(-116deg);font-size: 24px;top: 51px;"></span>
        </div>
        <div class="col"></div>
        <div class="col-2">
          <span class="gocan-pawprints position-absolute" style="transform: rotate(-79deg);font-size: 29px;top: 22px;"></span>
        </div>
        <div class="col"></div>
        <div class="col-1">
          <span class="gocan-pawprints position-absolute" style="transform: rotate(-63deg);font-size: 40px;/* 71px; */top: 51px;"></span>
        </div>
        <div class="col-auto"></div>
        <div class="col-12"></div>
        <div class="col-12 position-absolute">
          <div class="row justify-content-center" style="margin-top: 130px">
            <div class="col-6">
              <div class="row">
                <div class="col-12 text-center" style="font-family: unkemptBold">
                  <div class="gigantFont">VEN A GO CAN</div>
                </div>
                <div class="col-12 text-center" style="font-family: snigletRegular">
                  <div class="bigFont fontTittlesMedium">Una experiencia divertida</div>
                  <span class="gocan-tiress position-absolute" style="font-size: 77px;top: 0px; margin-left: 250px">
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="row justify-content-center" style="margin-top: 210px">
            <div class="col-xl-2 col-lg-3 col-md-6 col-6 text-center">
              <span class="gocan-dog-2" style="font-size: 120px">
              </span>
            </div>
          </div>
          <div class="row justify-content-center" style="margin-top: 5px">
            <div class="col-xl-2 col-lg-3 col-md-6 col-6">
              <button type="button" class="btn btn-md textGeneral secundaryColor btn-radius fontTGenera btn-block" (click)="srolling()">Conocer mas</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>