::ng-deep .xlModal > .modal-dialog {
    max-width: 100% !important;
    width: 100% !important;
}
 .degradeGreen{
  background:linear-gradient(to bottom, rgba(91,166,236,1) 0%, rgba(23,109,207,1) 100%);
 }
 .modal-body {
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1rem!important;
}
.imagen{
  -webkit-box-shadow: -1px 37px 15px -22px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 37px 15px -22px rgba(0,0,0,0.75);
box-shadow: -1px 37px 15px -22px rgba(0,0,0,0.75);
}
